<!doctype html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta content="yelo" name="author"/>
  <meta name="copyright" content="Copyright (c) 2016 Yelo."/>
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
  <meta content="yes" name="apple-mobile-web-app-capable"/>
  <meta content="blank" name="apple-mobile-web-app-status-bar-style"/>
  <meta name="apple-touch-fullscreen" content="yes">
  <meta content="telephone=no" name="format-detection"/>

</head>
<body>

<script>
  /*window.AppData = {
    user: {{.user}},
    menu: {{.menu}}
  }*/

  
  window.AppData = {
    user: {"cityId":"","id":309,"identify":"{\"cityId\":\"\",\"cityName\":\"\",\"thirdParty\":\"\",\"channelCode\":\"\",\"companyId\":\"\",\"companyName\":\"\"}","isDisable":0,"mzSalesupportmanagesysRoleses":[],"phone":"13750019932","sysId":0,"sysRoleId":"158","sysRoles":"5|3,8|73,10|95,12|103,15|121,25|158","system":"5|统一后台管理系统,8|统计查询系统,10|卖座后台管理系统mng,12|卖座新运营管理系统,15|运营支撑系统,25|元力互娱游戏平台管理系统","userName":"vicky"},
    menu: [{"id":560,"children":[{"id":561,"name":"收入汇总","per":"/finance/incomeSummary","pid":560,"url":"finance/incomeSummary"},{"id":562,"name":"收入明细","per":"/finance/incomeDetail","pid":560,"url":"finance/incomeDetail"}],"name":"财务管理"},{"id":563,"children":[{"id":564,"name":"商品库存管控","per":"/goods/goodsList","pid":563,"url":"goods/goodsList"},{"id":565,"name":"总入库流水","per":"/goods/serial","pid":563,"url":"goods/serial"}],"name":"商品管理"},{"id":566,"children":[{"id":567,"name":"收入统计","per":"/data/income","pid":566,"url":"data/income"},{"id":568,"name":"成绩积分","per":"/data/score","pid":566,"url":"data/score"},{"id":569,"name":"用户统计","per":"/data/user","pid":566,"url":"data/user"}],"name":"数据统计"},{"id":589,"children":[{"id":590,"name":"门店列表","per":"/business/list","pid":589,"url":"business/list"}],"name":"门店管理"}]
  }

</script>

<div id="main">root</div>

<script src="/entry/index.js"></script>

</body>
</html>
